* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif
}

::-webkit-scrollbar {
    overflow: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
